<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container  ">
    <a class="navbar-brand" href="#">{{ shop.name }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center  " id="navbarScroll">
      <ul class="navbar-nav  my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

        <li class="nav-item d-flex">
          {% for link in linklists.main-menu.links %}
            <a class="nav-link" href="{{link.url}}">{{ link.title }}</a>
          {% endfor %}

        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">

            Link1
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">Action</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>


      </ul>

    </div>
    <div class="d-flex ">
      <div class="m-2 ">
        <a href="/cart">


          {% render 'icon-shopping-bag' %}
          cart
        </a>
      </div>
      <div class="m-2 fw-bold">Login</div>
      <div class="m-2 fw-bold">Register</div>



    </div>
  </div>
</nav>